# Data
*dataset*
*.csv
databases
*.kmz
*.geojson
hackaton/

# Environments
.env
dist

# Cache
__pycache__/

# Tmp files
minio_tmp/
tmp/

# ML models
*.pkl
*.joblib
models_tf/

# Testing
times_convolution.py
composite_testing.py

# ESA landcover
landcover_ESA.py

# Other code
fix_broken_products/
sentinel2-downloads/
auxiliar_scripts/

# Images
*.png
images/

# Rasters
*.tif
*.jp2

*.egg-info

.python-version

requirements.txt
*.laz
*.las
*.xml

1.1/