# Data
*dataset*
*.csv
databases
*.kmz
*.geojson

# Environments
.env
dist

# Cache
__pycache__/

# Tmp files
minio_tmp/

# ML models
*.pkl
*.joblib
models_tf/

# Testing
times_convolution.py
composite_testing.py

# ESA landcover
landcover_ESA.py

# Other code
fix_broken_products/
sentinel2-downloads/
auxiliar_scripts/

# Images
*.png

# Rasters
*.tif
*.jp2
