# Data
*dataset*
*.csv
databases
*.kmz
*.geojson

# Environments
.env

# Cache
__pycache__/

# Tmp files
minio_tmp/

# ML models
*.pkl

# Testing
times_convolution.py
composite_testing.py

# ESA landcover
landcover_ESA.py

# Other code
fix_broken_products/

# Images
*.png

# Rasters
*.tif
*.jp2
